.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
}
.md-header-nav__button.md-logo {
    margin: .1rem .2rem;
    padding: .3rem .4rem;
}