@font-face {
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('font/lobster-two-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('font/lobster-two-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
}
.md-header-nav__button.md-logo {
    margin: .1rem .2rem;
    padding: .3rem .4rem;
}

/*Fuentes titulo*/
.md-header-nav__topic{
    font-family: "Lobster Two" !important;
    font-size: 150%;
}